sudo: true

language: android
jdk: oraclejdk8

android:
    components:
        - build-tools-29.0.2
        - android-29
        - tools
        - android-22
        - sys-img-armeabi-v7a-android-22

licenses:
    - android-sdk-license-.+
    - '.+'

before_install:
- mkdir "$ANDROID_HOME/licenses" || true
- yes | sdkmanager "platforms;android-27"

before_script:
     - echo no | android create avd --force -n test -c 100M -t android-22 --abi armeabi-v7a
     - emulator -avd test -no-audio -no-window -no-skin &
     - android-wait-for-emulator
     - adb shell input keyevent 82 &
     - android list targets
