<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.guillaumin.android.osmtracker" android:versionName="@string/app_version" android:versionCode="5">
	<application android:label="@string/app_name"
		android:description="@string/app_description" android:icon="@drawable/icon_48x48">
		<activity android:name=".activity.OSMTracker" android:label="@string/app_name" />

		<activity android:name=".activity.TrackLogger" android:label="@string/app_short_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.Preferences" android:label="@string/app_name" />
		<activity android:name=".activity.WaypointList" android:label="@string/wplist" />
		<activity android:name=".activity.About" android:label="@string/about" />
		
		<service android:name=".service.gps.GPSLogger">
			<intent-filter>
				<action android:name="me.guillaumin.android.osmtracker.intent.GPS_SERVICE" />
			</intent-filter>
		</service>
	</application>
	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
</manifest> 