<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <!-- Foreground services and network permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- External storage permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HighContrast"
        android:requestLegacyExternalStorage="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="net.osmtracker.activity.Intro"
            android:label="@string/app_intro"
            android:theme="@style/AppIntroStyle"/>
        <activity
            android:name=".activity.TrackManager"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TrackLogger"
            android:label="@string/tracklogger"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.Preferences"
            android:label="@string/prefs" />
        <activity
            android:name=".activity.WaypointList"
            android:label="@string/wplist" />
        <activity
            android:name=".activity.TrackDetail"
            android:label="@string/trackdetail" />
        <activity
            android:name=".activity.OpenStreetMapUpload"
            android:label="@string/osm_upload"
            android:exported="true">
        </activity>
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="osmtracker"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.About"
            android:label="@string/about" />
        <activity
            android:name=".activity.DisplayTrack"
            android:label="@string/displaytrack" />
        <activity
            android:name=".activity.DisplayTrackMap"
            android:label="@string/displaytrackmap" />
        <activity android:name=".activity.ButtonsPresets"
            android:exported="false">
            <intent-filter>
                <action android:name="launch_buttons_presets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AvailableLayouts" />

        <service
            android:name=".service.gps.GPSLogger"
            android:foregroundServiceType="location"
            android:exported="false">
            <intent-filter>
                <action android:name="osmtracker.intent.GPS_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name=".db.TrackContentProvider"
            android:authorities="net.osmtracker.provider"
            android:exported="false" />

        <receiver android:name=".receiver.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.osmtracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
